# Pandas

# Import files

In [ ]:
import pandas as pd
df=pd.read_csv('UFO.csv')
print (df.head())
print (df.tail(3))
pd.set_option('display.width', 1000)

In [ ]:
df1 = pd.read_excel('UFO.xlsx')
print(df1.head())

In [ ]:
df2=pd.read_csv('UFO.txt',delimiter='\t')
print(df2.head())

In [ ]:
# Also read SAS and Stata files

# General idea about dataset

In [ ]:
print(df.columns)
print (df.shape)
df.count()
#df['Abduction'].count()

In [ ]:
df.describe()
df.iloc[6,6]=None

In [ ]:
df.isnull().values.any()
df.isnull().sum()

# Sort Values

In [ ]:
df.sort_values('Abduction',ascending=False)
df.sort_values(['Abduction','Year'],ascending=[0,1])

# Only print certain column(s)

In [ ]:
# A list of column names
print(df.Name_of_event.head())

print(df[['Name_of_event','Location']].head())

# iloc(integer index based) and Loc( label-based)

In [ ]:
# print certain row
print(df.iloc[0]) # 1 row

print(df.iloc[0:4]) # multiple rows

print(df.iloc[2,1])  #specific location

print(df.loc[0:4,'Location':'Abduction'])

In [ ]:
df.loc[df['Abduction']==1]
df[df.Abduction == 1]

# Iterrate index and columns

In [ ]:
for i in df['Abduction']:
    i=i*1000
    print (i)

In [ ]:
for index, i in df.iterrows():
    i['Abduction']+=100
    print(index,i['Abduction'])

# Add and Drop a column

In [ ]:
df['Total']=df['Physical_effects']+df['Multimedia']+df['ET_contact']+df['Abduction']
df.head(10)

In [ ]:
df=df.drop(columns=['Total'])
df.head()

In [ ]:
df['Total']=df.iloc[:,3:7].sum(axis=1)
df.head()

In [ ]:
df['Total']=df.loc[:,'Physical_effects':'Abduction'].sum(axis=1)
df.head()

In [ ]:
df.Abduction.values.sum(axis=0)

# Rearrange the columns

In [ ]:
cols=list(df.columns.values)

df=df[cols[0:3]+[cols[-1]]+cols[3:7]]
df.head()

#  Save the data

In [ ]:
df.to_csv('Modified.csv')
# without index
#df.to_csv('Modified.csv',index=False)

In [ ]:
df.to_excel('Modified.xlsx',index=False)

In [ ]:
df.to_csv('Modified.txt',index=False,sep='\t')

# Filter data (Multiple conditions)

In [ ]:
df[df.Year==1978]
df[(df.Year==1978) &(df.Location=='USA')]
df[(df.Year==1978) |(df.Year==1975)]
df_new=df[(df.Year>2000)&(df.Location=='USA')]
df_new

In [ ]:
#reset new index
df_new=df_new.reset_index()
df_new

In [ ]:
df_new=df_new.reset_index(drop=True)
df_new

# Contain

In [ ]:
df_new[df_new.Name_of_event.str.contains('UFO')]
df_new[~df_new.Name_of_event.str.contains('UFO')]

# Working with large dataset

In [ ]:
for df in pd.read_csv('UFO.csv',chunksize=10):
    print(df)

In [ ]:
dataframes = list(pd.read_csv('UFO.csv',chunksize=10))

build = pd.concat(dataframes)
    
build

# Merge dfs

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 4])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[5, 6, 7,8])
df2

In [ ]:
df3 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df3

In [ ]:
frames=[df1,df2]
combine1=pd.concat(frames)
combine1

In [ ]:
combine2=df1.append(df2)
combine2

In [ ]:
frames=[df1,df2]
combine3=pd.concat(frames,axis=1)
combine3

In [ ]:
import matplotlib.pyplot as plt
image = plt.imread('SQLJoins.jpg')
plt.imshow(image)

In [ ]:
student = pd.DataFrame({'student_id': ['0001', '0002', '0003', '0004','0005'],
                         'name': ['Tom', 'Jerry', 'Mary', 'Jim','Joe']
                        }
                        )
                   
student

In [ ]:
student=student.set_index('student_id')
student

In [ ]:
SAT=pd.DataFrame({'SAT_id': ['1', '2', '3','4'],
                  'student_id': ['0003', '0004','0005','0009'],
                  'scores':[1330,800,1220,950]
                 })

SAT

In [ ]:
SAT=SAT.set_index('SAT_id')
SAT

In [ ]:
result = pd.merge(student,SAT,on='student_id', how='left')
result

In [ ]:
result2 = pd.merge(student,SAT,on='student_id', how='right')
result2

In [ ]:
result3 = pd.merge(student,SAT,on='student_id', how='inner')
result3

# merging multiple dfs, chain

In [ ]:
ACT=pd.DataFrame({'ACT_id': ['1', '2', '3','4'],
                  'student_id': ['0001', '0003','0005','0009'],
                  'scores':[30,25,33,18]
                 })

ACT

In [ ]:
ACT=ACT.set_index('ACT_id')
ACT

In [ ]:
result4 = student.merge(SAT,on='student_id', how='left',).merge(ACT,on='student_id', how='left')
result4

In [ ]:
result5 = student.merge(SAT,on='student_id', how='left')
result5

In [ ]:
result4.rename(columns={'scores_x':'SATscore','scores_y':'ACTscore'},inplace=True)
result4

In [ ]:
import pandasql

In [ ]:
# right join and full outer join not supported
sqlcode='''
select a.student_id,a.name,b.scores
from student as a
left join SAT as b 
on a.student_id=b.student_id
'''
result3=pandasql.sqldf(sqlcode,locals())
result3

https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

# Connect with WRDS

In [ ]:
pip install wrds

In [ ]:
import wrds

In [ ]:
db = wrds.Connection(wrds_username='mr66')
db.create_pgpass_file()

In [ ]:
db.close()

In [ ]:
db = wrds.Connection(wrds_username='mr66')

https://wrds-web.wharton.upenn.edu/wrds/tools/variable.cfm?_ga=2.169486369.1041108399.1561574536-1251310473.1560810137

In [ ]:
sorted(db.list_libraries())

In [ ]:
sorted(db.list_tables(library="ff"))

In [ ]:
data = db.get_table(library="ff", table="factors_monthly",obs=5,columns=['date', 'mktrf', 'smb', 'hml', 'rf', 'year', 'month'])
data

In [ ]:
import statsmodels.api as sm
X = data['mktrf']
X = sm.add_constant(X)
Y = data['hml']
results = sm.OLS(Y,X).fit()
results.summary()

https://www.statsmodels.org/stable/index.html


https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

# Files

In [ ]:
f=open ('Test.txt','r')
for line in f:
    print(line)
f.close()

In [ ]:
# "a" Open file in append mode.If file does not exist, it creates a new file.
# %s place holder for string values; %d place holder for numeric values

f=open('Test1.txt','a')
for i in range (10):
    f.write("This is line %d\n" % (i+1))
    
f.close()

In [ ]:
f=open ('Test1.txt','r')
for line in f:
    print(line)
f.close()

In [ ]:
#This Mode Opens file for writing.
#If file does not exist, it creates a new file.
#If file exists it truncates the file.
f=open('Test2.txt','w')
for i in range (10):
    #f.write("This is line %d\n" % (i+1))
    f.write("something else\n")
f.close()

In [ ]:
f=open ('Test2.txt','r')
for line in f:
    print(line)
f.close()

In [ ]:
# Filename pattern matchingÂ¶
import glob
path='Test*.txt'

for i in glob.glob(path):
    with open (i,'a')as f:
        print("add new line, test\n",file=f)

In [ ]:
import glob
path='Test*.txt'

for i in glob.glob(path):
    with open(i,'r') as f:
        for line in f:
            print (line)

In [ ]:
import glob
files = glob.glob( 'Test*.txt' )

with open( 'CombineTest.txt', 'w' ) as result:
    for file in files:
        for line in open( file, 'r' ):
            result.write( line )